<%= form_for(@test) do |f| %>

  <% if @test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% @test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <%= f.text_area :question, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= f.text_field :opt1_type, class: "form-control" %>
    </div>
    <div class="col-md-10">
      <%= f.text_field :opt1_words, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= f.text_field :opt2_type, class: "form-control" %>
    </div>
    <div class="col-md-10">
      <%= f.text_field :opt2_words, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= f.text_field :opt3_type, class: "form-control" %>
    </div>
    <div class="col-md-10">
      <%= f.text_field :opt3_words, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= f.text_field :opt4_type, class: "form-control" %>
    </div>
    <div class="col-md-10">
      <%= f.text_field :opt4_words, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= f.text_field :answer, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= f.submit 'Save', class: "btn btn-success" %>
    </div>
  </div>

<% end %>
