<div id="testSlide" class="container">
  <div class="row question">
    <div class="col-sm-12">
      <%= @test.question %>
    </div>
  </div>
  <div class="options">
    <div id="opt1" class="row">
      <div class="col-md-1 col-sm-2">
        <span class="opt opt1"><%= @test.opt1_type %></span>
      </div>
      <div class="col-md-11 col-sm-10">
        <%= @test.opt1_words %>
        <% if params[:results].present? %>
          <span class="result"><%= @opt1_res %></span>
        <% end %>
      </div>
    </div>
    <div id="opt2" class="row">
      <div class="col-md-1 col-sm-2">
        <span class="opt opt2"><%= @test.opt2_type %></span>
      </div>
      <div class="col-md-11 col-sm-10">
        <%= @test.opt2_words %>
        <% if params[:results].present? %>
          <span class="result"><%= @opt2_res %></span>
        <% end %>
      </div>
    </div>
    <div id="opt3" class="row">
      <div class="col-md-1 col-sm-2">
        <span class="opt opt3"><%= @test.opt3_type %></span>
      </div>
      <div class="col-md-11 col-sm-10">
        <%= @test.opt3_words %>
        <% if params[:results].present? %>
          <span class="result"><%= @opt3_res %></span>
        <% end %>
      </div>
    </div>
    <div id="opt4" class="row">
      <div class="col-md-1 col-sm-2">
        <span class="opt opt4"><%= @test.opt4_type %></span>
      </div>
      <div class="col-md-11 col-sm-10">
        <%= @test.opt4_words %>
        <% if params[:results].present? %>
          <span class="result"><%= @opt4_res %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if params[:results].present? %>
  <%= link_to "Close", @test, id: "toggleResults", class: "btn btn-outline-dark" %>
<% else %>
  <%= link_to "Results", { results: "true" }, { id: "toggleResults", class: "btn btn-outline-dark" } %>
<% end %>

<% if params[:results].present? %>
<script type="text/javascript">
  $('#<%= @test.answer %>').addClass('correct');
</script>
<% end %>
